{% extends 'base.html.twig' %}

{% block styelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Buscar Residencias{% endblock %}

{% block body %}


    {% form_theme filtroForm 'bootstrap_4_layout.html.twig' %}

    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="card bg-dark text-white" >
                    <div class="card-body">
                        <h3 class="card-title">Busqueda de residencias</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Seleccione un lugar y un rango de fechas no mayor a 2 meses</h6>
                            {{form_start(filtroForm)}}
                            {{form_row(filtroForm.lugar)}}
                            {{form_row(filtroForm.fecha_inicial)}}
                            {{form_row(filtroForm.fecha_final)}}
                        <div class="text-right">
                            {{form_row(filtroForm.buscar)}}
                        </div>
                        {{form_end(filtroForm)}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent()}}
    
    <script>
        jQuery(document).ready(function(){
            $('.js-datepicker-start').datepicker({
                weekStart: 1,
                startDate: "+6m",
                endDate:"+1y",
                daysOfWeekDisabled: "0,2,3,4,5,6",
                daysOfWeekHighlighted: "1",
                format: "yyyy/mm/dd",
                autoclose: true,
            });
        });

        jQuery(document).ready(function(){
            $('.js-datepicker-end').datepicker({
                weekStart: 1,
                startDate: "+6m +6d",
                endDate: "+1y",
                daysOfWeekDisabled: "1,2,3,4,5,6",
                daysOfWeekHighlighted: "0",
                format: "yyyy/mm/dd",
                autoclose: true,
            });
        });
    </script>

<!--
    ######################
    Formato experimental para mostrar el rango de fechas de manera horizontal, tiene un problema al mostrar el error ya que Bootstrap renderea el error justo debajo del label para tener consistencia, pero rompe el formato del form

<div class="row">
    <div class="col-sm-6">
        {{form_row(filtroForm.fecha_inicial)}}
    </div>
    <div class="col-sm-6">
        {{form_label(filtroForm.fecha_final)}}
        {{form_widget(filtroForm.fecha_final)}}
        {{form_help(filtroForm.fecha_final)}}
        {{form_errors(filtroForm.fecha_final)}}
    </div>
</div>
-->
{% endblock %}