{% extends 'base.html.twig' %}

{% block styelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Buscar Residencias{% endblock %}

{% block body %}
<!--

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'D:/xampp/htdocs/HomeSwitchHome/src/Controller/FiltroController.php'|file_link(0) }}">src/Controller/FiltroController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'D:/xampp/htdocs/HomeSwitchHome/templates/filtro/index.html.twig'|file_link(0) }}">templates/filtro/index.html.twig</a></code></li>
        </ul>
    </div>
-->
    {% form_theme filtroForm 'bootstrap_4_layout.html.twig' %}

    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="card bg-dark text-white" >
                    <div class="card-body">
                        <h5 class="card-title">Busqueda de residencias</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Seleccione un lugar y un rango de fechas no mayor a 2 meses</h6>
                        {{form(filtroForm)}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent()}}
    
    <script>
        jQuery(document).ready(function(){
            $('.js-datepicker-start').datepicker({
                weekStart: 1,
                startDate: "+6m",
                endDate:"+1y",
                daysOfWeekDisabled: "0,2,3,4,5,6",
                daysOfWeekHighlighted: "1",
                format: "yyyy/mm/dd",
                autoclose: true,
            });
        });

        jQuery(document).ready(function(){
            $('.js-datepicker-end').datepicker({
                weekStart: 1,
                startDate: "+6m",
                endDate: "+1y",
                daysOfWeekDisabled: "1,2,3,4,5,6",
                daysOfWeekHighlighted: "1",
                format: "yyyy/mm/dd",
                autoclose: true,
            });
        });
    </script>


{% endblock %}