{% extends 'base.html.twig' %}
{% block title %}Subasta{% endblock %}

{% block bodyTitle %}
    <h1>Subasta numero: {{ subasta.getIdSubasta() }}</h1>
{% endblock %}


{% block body %}

    <div class="container">
        <table class="table table-hover table-responsive-lg">
                <thead class="thead-dark">
                    <tr>
                        <th>Residencia</th>
                        <th>Puja actual</th>
                        <th>Fecha de reserva</th>
                        <th>Estado</th>
                        <th>Ganador</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Residencia numero: {{ (subasta.getIdResidencia()).getIdResidencia() }}
                            <a href="#" title="Direccion" data-toggle="popover" data-trigger="hover" data-content="
                                [ Calle: {{subasta.getIdResidencia().getIdDireccion().getCalle()}}
                                Numero: {{subasta.getIdResidencia().getIdDireccion().getNumero()}}
                                Ciudad: {{subasta.getIdResidencia().getIdDireccion().getCiudad()}}
                                Provincia: {{subasta.getIdResidencia().getIdDireccion().getProvincia}} ]">
                                Ubicacion
                            </a>
                        </td>
                        <td>{{ subasta.getPrecioActual() }}</td>
                        <td>{{ subasta.getFechaInicio().format('Y-m-d')}}</td>

                        {% if (subasta.getFinalizada() == 1) %}
                            <td>{{ "Finalizada" }}</td>
                            {% if (subasta.getIdUsuario()) == null  %}
                                <td>Sin ganador</td>
                            {% endif %}
                        {% else %}
                            <td>{{ "Activa" }}</td>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>
                            {# TODO #}
                            {% if (subasta.getFinalizada() != 1) %}
                                    <a href="/subasta/finalizar/{{ subasta.getIdSubasta() }}" class="btn btn-danger">Finalizar subasta</a>
                            {% endif %}
                             <a href="/residencias/{{ ((subasta.getIdResidencia()).getIdResidencia()) }}" class="btn btn-info">Detalles residencia</a>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

            <a href="/subastas/listado" class="btn btn-primary">Volver a subastas</a>
            <br>
            <br>
            {% if pujas %}
                <h5>Pujas</h5>
                <ul class="list-group">
                    {% for puja in pujas %}
                        <li class="list-group-item">
                            {{puja.idUsuario.nombre}} pujo: {{puja.monto}}
                        </li>
                    {% endfor %}

                </ul>

            {% else %}
                <h5>No hay pujas para mostrar</h5>
            {% endif %}
        </div>



    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock %}
