{% extends 'base.html.twig' %}
{% block title %}Subastas{% endblock %}

{% block bodyTitle %}
    <h1>Listado de subastas</h1>
{% endblock %}

{% block body %}

<div class="container">
    {% if subastas %}
        <table class="table table-hover table-responsive-lg">
            <thead class="thead-dark">
                <tr>
                    <th>Subasta</th>
                    <th>Residencia</th>
                    <th>Precio actual</th>
                    <th>Estado</th>
                    <th>Fecha de reserva</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for subasta in subastas %}
                    <tr>
                        <td>{{ subasta.getIdSubasta() }}</td>
                        <td>{{ (subasta.getIdResidencia()).getIdResidencia() }}</td>
                        <td>{{ subasta.getPrecioActual() }}</td>
                        {% if (subasta.getFinalizada() == 1) %}
                                <td>{{ "Finalizada" }}</td>
                        {% else %}
                            <td>{{ "Activa" }}</td>
                        {% endif %}
                        {% set stringValue = subasta.getFechaInicio().format('Y-m-d') %}
                        <td>
                            {{ stringValue }}
                        </td>
                        <td>
                            <a href="/subasta/detalles{{ subasta.getIdSubasta() }}" class="btn btn-info">Detalles</a>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {# TODO #}
                                      {% if (subasta.getFinalizada() != 1) %}
                                          <a href="/subasta/finalizar{{ subasta.getIdSubasta() }}" class="btn btn-danger">Finalizar subasta</a>
                                      {% endif %}

                                      {% if (subasta.getFinalizada() != 1) %}
                                          <a href="/subasta/participarDeLaSubasta{{ subasta.getIdSubasta() }}" class="btn btn-info">Participar</a>
                                      {% endif %}
                                {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay subastas para mostrar</p>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="/subasta/new" class="btn btn-success">Crear subasta</a>
    {% endif %}

    <a href="/subasta/participando" class="btn btn-primary">Ver subastas en las que participo</a>
</div>
{% endblock %}
