{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block bodyTitle %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Nueva Subasta:</h1>
    {% else  %}
        <h1>Tu usuario no tiene acceso a esta pagina.</h1>
    {% endif %}
    {% endif %}
{% endblock %}


{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if is_granted('ROLE_ADMIN') %}

    {% form_theme subastaForm 'bootstrap_4_layout.html.twig' %}

    <div class="container">
        {{form_start(subastaForm)}}
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div id="subasta-form">
                    <div class="row">
                        <div class="col-sm-6">
                            {{form_row(subastaForm.precioActual)}}

                        </div>
                        <div class="col-sm-6">
                            {{form_row(subastaForm.fechaInicio)}}
                        </div>
                    </div>
                    
                    {{form_row(subastaForm.idResidencia)}}
                    

                </div>
            </div>
        </div>
        
        <br>
        <div class="row justify-content-between text-center">
            <div class="col-sm-6">
                <a href="{{ path('subastas_listado') }}" class="btn btn-lg btn-danger">Cancelar</a>
            </div>
            <br>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-lg btn-success">Crear</button>
            </div>
        </div>
        {{form_end(subastaForm)}}
    </div>
{% endif %}
{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent()}}
    
    <script>
        jQuery(document).ready(function(){
            $('.js-datepicker-start').datepicker({
                weekStart: 1,
                startDate: "+25w",
                endDate: "+26w",
                daysOfWeekDisabled: "0,2,3,4,5,6",
                daysOfWeekHighlighted: "1",
                format: "yyyy/mm/dd",
            });
        });
    </script>


{% endblock %}