{% extends 'base.html.twig' %}
{% block title %}Subastas en las que participo{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="container">
<h1>Subastas en las que participo:</h1>
    {% if subastas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subasta</th>
                    <th>Residencia</th>
                    <th>Precio actual</th>
                    <th>Estado</th>
                    <th>Fecha de reserva</th>
                </tr>
            </thead>
            <tbody>
                {% for subasta in subastas %}
                    <tr>
                        <td>{{ subasta.getIdSubasta() }}</td>
                        <td>{{ (subasta.getIdResidencia()).getIdResidencia() }}</td>
                        <td>{{ subasta.getPrecioActual() }}</td>
                        {% if (subasta.getFinalizada() == 1) %}
                                    <td>{{ "Finalizada" }}</td>
                        {% else %}
                            <td>{{ "Activa" }}</td>
                        {% endif %}
                        {% set stringValue = subasta.getFechaInicio().format('Y-m-d') %}
                        <td>
                            {{ stringValue }}
                        </td>
                        <td>
                            <a href="/subasta/detalles{{ subasta.getIdSubasta() }}" class="btn btn-info">Detalles</a>
                        </td>
                        <td>
                            {# TODO #}
                            {% if (subasta.getFinalizada() != 1) %}
                                    <a href="/subasta/finalizar{{ subasta.getIdSubasta() }}" class="btn btn-danger">Finalizar subasta</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay subastas para mostrar</p>
    {% endif %}
</div>

{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}