{% extends 'base.html.twig' %}

{% block title %}Editar informacion de usuario{% endblock %}

{% block bodyTitle %}
    <h1>
        Editar informacion del perfil
    </h1>
    <h6 class="font-weight-light">Ingresa los datos que queres modificar:</h6>
{% endblock %}



{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="container text-center">
    
        <div class="row justify-content-center">
            
            <div class="col-md-6 border  " id="user-data-form"> 
                <h3>Mis datos:</h3>
                <br>
                {{ form_start(form) }}
                {{form_row(form.DNI)}}
                {{form_row(form.nombre)}}
                {{form_row(form.apellido)}}
                {{form_row(form.email)}}
                {{form_row(form.password)}}
                
            </div>
            
        </div>
        <br><br>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <a href="{{ path('miPerfil') }}" class="btn btn-lg btn-danger">Cancelar</a>

            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-lg btn-success">Guardar</button>

            </div>
        </div>
        {{ form_end(form) }}


</div>

{% endif %}
{% endblock %}