{% extends 'base.html.twig' %}
{% block title %}Mis reservas{% endblock %}

{% block bodyTitle %}
    <h1>Mis Reservas</h1>
{% endblock %}

{% block body %}
    
     {% if reservas %}
     <div align="center" class="container">
        <table class="table table-hover table-responsive-lg">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Residencia</th>
                    <th>Semana</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td style="width:20%;heigth:30%">
                            <img src="{{reserva.getIdResidencia.fotos[0].ruta}}" class="img-fluid border border-primary" alt="Imagen residencia">
                    </td>
                        <td>{{ reserva.getIdResidencia().getNombre() }}</td>
                        <td>
                            <strong> <font color='Blue'>
                                {{ reserva.getFechaInicio().format('Y-m-d') }} / {{ reserva.getFechaFin().format('Y-m-d') }}</font>
                            </p>
                        </td>
                        <td><a href="{{ path('residencias_show', {'idResidencia': reserva.idResidencia().getIdResidencia()}) }}" class="btn btn-info">Ver Residencia</a>
                        
                        
                       {% if (reserva.fechaInicio.format('Y/m/d') > ("now" |date("Y/m/d"))) %}
                        <td><a href="{{ path('cancelar_reserva', {'idSemana': reserva.idSemana}) }}" class="btn btn-info">Cancelar Reserva</a>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No hay reservas para mostrar</p>
    {% endif %}


{% endblock %}