{% extends 'base.html.twig' %}

{% block title %}Cambiar forma de pago{% endblock %}

{% block bodyTitle %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h1>Cambiar forma de pago</h1>
    <h6 class="font-weight-light">Ingresa los datos que queres modificar:</h6>
    {% else  %}
        <h1>Tu usuario no tiene acceso a esta pagina.</h1>
    {% endif %}
{% endblock %}


{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="container text-center">
    
    <div class="row justify-content-center">
        <div class="col-sm-5" id="card-data-form">
            <h3>Datos de la tarjeta:</h3>
            <br>
            {{ form_start(form) }}
            {{ form_row(form.numeroTarjeta) }}
            {{ form_row(form.codigo) }}
            {{ form_row(form.vencimiento) }}
            
        </div>
    </div>
    <br>
    <br>
    
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <a href="{{ path('miPerfil') }}" class="btn btn-lg btn-danger">Cancelar</a>
            
        </div>
        <div class="col-sm-4">
                {{ form_row(form.save) }}
            
        </div>
    </div>
    {{ form_end(form) }}

{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}