{% extends 'base.html.twig' %}
{% block title %}Notificaciones{% endblock %}

{% block bodyTitle %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h1>Mis notificaciones:</h1>
    {% endif %}
{% endblock %}


{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="container">
    {% if notificaciones %}
        <table class="table table-hover table-responsive-lg">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Notificación</th>
                </tr>
            </thead>
            <tbody>
                {% for notificacion in notificaciones %}
                    <tr>
                        <td>
                            {{ notificacion.getFecha().format('Y-m-d') }}
                        </td>
                        <td>
                            <p>{{notificacion.getTexto()}}</strong></p>
                        </td>
                        {% if notificacion.getIdSubasta != null %}
                            <td>
                                <a href="{{ path('residencias_show', {'idResidencia': notificacion.getIdSubasta.getIdResidencia.getIdResidencia}) }}" class="btn btn-info">Ver detalles residencia</a>
                            </td>
                            <td>
                                <a href="{{ path('subasta_detalles', {'id': notificacion.getIdSubasta.getIdSubasta}) }}" class="btn btn-info">Ver detalles subasta</a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{{ path('residencias_show', {'idResidencia': notificacion.getIdResidencia.getIdResidencia}) }}" class="btn btn-info">Ver detalles residencia</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay notificaciones para mostrar.</p>
    {% endif %}
</div>

{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}