{% block title %}{% endblock %}
{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
<link rel="stylesheet" href="/css/inicio.css">
<link rel="stylesheet" href="/css/base.css">
{% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}

        <div class="recuadro1" style="top:70px;height:40px">
            <font size=4 color="Black"><p align="center">Subasta recomendada</p></font>
        </div>

        <div class='recuadro1' id="uno">
            <div align="center">
            {% if subastas %}
                <div class='recuadro4' id='dos' style="top: 15%" style="heigth:150px" >
                    <font size=5 color="Black">
                        <strong>{{ (subastas[0].getIdResidencia()).getNombre() }}</strong>
                    </font>
                    <font size=3 color="Black">
                    <p>Para la semana: {{ subastas[0].getFechaInicio().format('Y-m-d') }} - {{ subastas[0].getFechaFin().format('Y-m-d') }}</p>
                </div>
                </font>
                <div class='recuadro4' style="top:220px;height:300px" >
                    <font size=5> 
                        <strong class="text-success">Último monto pujado: ${{ subastas[0].getPrecioActual() }}</strong>
                    </font>
                    </br>
                    <font size=3 color="Black">
                        <strong>Comenzó el día: {{ subastas[0].getFechaSubasta().format('Y-m-d') }}</strong>
                        
                        <p>¡No te la pierdas!</p>
                    <strong><p align="center">Tipo: {{subastas[0].getIdResidencia().getTipo()}}</p>
                    <p align="center">Ambientes: {{ subastas[0].getIdResidencia().getHabitaciones() }}</p>
                    <a href="#" title="Direccion" data-toggle="popover" data-trigger="hover" data-content="
                                [ Calle: {{subastas[0].getIdResidencia().getIdDireccion().getCalle()}}
                                Numero: {{subastas[0].getIdResidencia().getIdDireccion().getNumero()}}
                                Ciudad: {{subastas[0].getIdResidencia().getIdDireccion().getCiudad()}}
                                Provincia: {{subastas[0].getIdResidencia().getIdDireccion().getProvincia}} ]">
                                Ubicación
                            </a>
                    </strong>
                    </font>
                </div>
            </div>
        {% else %}
            <br><br>
            <font size=5 color="Black">
                <strong>Por el momento no hay subastas activas.</strong>
            </font>
            </div>
        {% endif %}
        </div>
        <div class="recuadro1" style="top:70px;height:40px;left:460px">
            <font size=4 color="Black"><p align="center">Hotsale recomendado</p></font>
        </div>
        <div aling="center" class='recuadro1' id="uno" style="left: 30%">
            <div align="center">
                </br></br>
                <font size=5 color="Black">
                    <strong>Próximamente HotSales</p>
                </font>
            </div>
            <div align="center">
                <image id="logo-hotsale"src="/images/hotsale/hotsale-logo2.png" width="200" />
            </div>
        </div>
        <div class='recuadro2'>
    
            <br/><br/>
            <div align="center">
                <image id="logo-image"src="/images/logos/HSH-Complete.svg" width="400" />
            </div>
            <br/><br/>
            <div align="center">
                <form style="width:30%" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h1 class="h3 mb-3 font-weight-normal">Inicia sesión en la plataforma</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                    >

                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                    >
                    <br/>
                    <div align="center">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Iniciar sesión
                    </button>
                </form>
            </div>


            </br></br>
            <font size=3 color="Black">
                <p>¿Todavía no tenes una cuenta?¡Registrate en nuestra plataforma!</p>
            </font>
            <a href="/usuarios/registrarsePaso1" class="btn btn-light">Registrarme</a>
            </br></br>
            <a href="/loginAdmin" >Soy administrador</a>
        </div>
    {#</div>#}

    

{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>Usted ya ha iniciado sesión</p>
        {% if is_granted("ROLE_ADMIN") %}
            <a class="nav-link" href="/logout">Cerrar la de sesión {{ app.user.getIdUsuario().getEmail() }}</a>
        {% else %}
            <a class="nav-link" href="/logout">Cerrar la de sesión {{ app.user.getEmail() }} </a>
        {% endif %}
        <a class="nav-link" href="/residencias">Ir a Home</a>
    </div>
{% endif %}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock %}