{% extends 'base.html.twig' %}

{% block title %}Residencias index{% endblock %}

{% block body %}
    <h1>Residencias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdResidencia</th>
                <th>Tipo</th>
                <th>Habitaciones</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for residencia in residencias %}
            <tr>
                <td>{{ residencia.idResidencia }}</td>
                <td>{{ residencia.tipo }}</td>
                <td>{{ residencia.habitaciones }}</td>
                <td>{{ residencia.descripcion }}</td>
                <td>
                    <a href="{{ path('residencias_show', {'idResidencia': residencia.idResidencia}) }}">show</a>
                    <a href="{{ path('residencias_edit', {'idResidencia': residencia.idResidencia}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('residencias_new') }}">Create new</a>
{% endblock %}
